.person-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
}

.rows-title{
    background-color: aquamarine;
}
.person-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.row-users {
    border: 1px solid #ccc;
    padding: 10px;
    background: rgb(227, 194, 177);
    transition: background-color 0.3s ease;
    height: 100%;
}

.row-users:hover {
    background-color: rgb(169, 238, 243);
}

.column-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.person-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttons-user {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    display: none;
}

.row-title {
    font-size: 25px;
    font-weight: bold;
}



@media (max-width: 768px) {
    .row-title {
        display: none;
    }
}

/* 
.person-image img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    border-radius: 50%;
} */

/* .person-image img:hover {
    transform: scale(1.1);
} */